-i https://pypi.org/simple
altgraph==0.17.3
async-generator==1.10; python_version >= '3.5'
attrs==22.2.0; python_version >= '3.6'
certifi==2022.12.7; python_version >= '3.6'
cffi==1.15.1; os_name == 'nt' and implementation_name != 'pypy'
charset-normalizer==3.0.1; python_version >= '3.6'
colorama==0.4.6; sys_platform == 'win32'
cython==0.29.33
et-xmlfile==1.1.0; python_version >= '3.6'
exceptiongroup==1.1.0; python_version < '3.11'
future==0.18.3; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
h11==0.14.0; python_version >= '3.7'
idna==3.4; python_version >= '3.5'
importlib-metadata==6.0.0; python_version < '3.8'
loguru==0.6.0
openpyxl==3.0.10
outcome==1.2.0; python_version >= '3.7'
pefile==2022.5.30; sys_platform == 'win32'
pycparser==2.21
pycryptodome==3.16.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14; python_version >= '3.7'
pysocks==1.7.1
pywin32==305
pywin32-ctypes==0.2.0; sys_platform == 'win32'
requests==2.28.2
selenium==4.7.2
setuptools==65.7.0; python_version >= '3.7'
sniffio==1.3.0; python_version >= '3.7'
sortedcontainers==2.4.0
tinyaes==1.0.4
trio==0.22.0; python_version >= '3.7'
trio-websocket==0.9.2; python_version >= '3.5'
typing-extensions==4.4.0; python_version < '3.8'
urllib3==1.26.14; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
win32-setctime==1.1.0; sys_platform == 'win32'
wsproto==1.2.0; python_version >= '3.7'
zipp==3.11.0; python_version >= '3.7'
